.search-bar {
  flex: none;
  order: 1;
  align-self: stretch;
  margin-top: 16px;
  flex-grow: 0;
  width: 632px;
  height: 44px;
}

.search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 12px;
  position: absolute;
  background: #eeeef0;
  border-radius: 8px;
  width: 632px;
  height: 44px;
}
