.search-radio-options {
  display: flex;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 24px;
  width: 632px;
  order: 2;
}

.search-costumer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 632px;
  height: 172px;
}
